USE [master]
GO

/****** Objeto: Database [ClinicaDB] Fecha de script: 31/8/2026 14:16:22 ******/
CREATE DATABASE [ClinicaDB]
 

USE [ClinicaDB]
GO

/****** Objeto: Table [dbo].[Cita] Fecha de script: 31/8/2026 14:16:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita](
	[cit_IdCita] [int] IDENTITY(1,1) NOT NULL,
	[cit_Fecha] [date] NOT NULL,
	[cit_Hora] [time](7) NOT NULL,
	[cit_Motivo] [varchar](100) NOT NULL,
	[cit_Tratamiento] [varchar](100) NOT NULL,
	[cit_Estado] [int] NOT NULL,
	[cit_IdPaciente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cit_IdCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Objeto: Table [dbo].[Paciente] Fecha de script: 31/8/2026 14:16:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[pac_IdPaciente] [int] IDENTITY(1,1) NOT NULL,
	[pac_Cedula] [varchar](10) NOT NULL,
	[pac_Nombre] [varchar](50) NOT NULL,
	[pac_Apellido] [varchar](50) NOT NULL,
	[pac_Telefono] [varchar](15) NOT NULL,
	[pac_Estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pac_IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cita] ON 

INSERT [dbo].[Cita] ([cit_IdCita], [cit_Fecha], [cit_Hora], [cit_Motivo], [cit_Tratamiento], [cit_Estado], [cit_IdPaciente]) VALUES (1, CAST(N'2026-08-25' AS Date), CAST(N'09:00:00' AS Time), N'Chequeo general', N'Medicina general', 1, 1)
INSERT [dbo].[Cita] ([cit_IdCita], [cit_Fecha], [cit_Hora], [cit_Motivo], [cit_Tratamiento], [cit_Estado], [cit_IdPaciente]) VALUES (2, CAST(N'2026-08-25' AS Date), CAST(N'10:30:00' AS Time), N'Dolor muela', N'Odontología', 1, 2)
INSERT [dbo].[Cita] ([cit_IdCita], [cit_Fecha], [cit_Hora], [cit_Motivo], [cit_Tratamiento], [cit_Estado], [cit_IdPaciente]) VALUES (3, CAST(N'2026-08-26' AS Date), CAST(N'11:00:00' AS Time), N'Control presión', N'Cardiología', 1, 3)
SET IDENTITY_INSERT [dbo].[Cita] OFF
GO
SET IDENTITY_INSERT [dbo].[Paciente] ON 

INSERT [dbo].[Paciente] ([pac_IdPaciente], [pac_Cedula], [pac_Nombre], [pac_Apellido], [pac_Telefono], [pac_Estado]) VALUES (1, N'1712345678', N'Carlos', N'Pérez', N'0991234567', 1)
INSERT [dbo].[Paciente] ([pac_IdPaciente], [pac_Cedula], [pac_Nombre], [pac_Apellido], [pac_Telefono], [pac_Estado]) VALUES (2, N'1723456789', N'María', N'Gómez', N'0982345678', 1)
INSERT [dbo].[Paciente] ([pac_IdPaciente], [pac_Cedula], [pac_Nombre], [pac_Apellido], [pac_Telefono], [pac_Estado]) VALUES (3, N'1734567890', N'José', N'Rodríguez', N'0973456789', 1)
SET IDENTITY_INSERT [dbo].[Paciente] OFF
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Cita_Paciente] FOREIGN KEY([cit_IdPaciente])
REFERENCES [dbo].[Paciente] ([pac_IdPaciente])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Cita_Paciente]
GO
USE [master]
GO
